<app-cabecera></app-cabecera>

<div id="factura" style="display: flex; justify-content: space-between; gap: 20px; align-items: flex-start;">
  <!-- Datos del cliente -->
  <div id="datoscliente" style="flex: 1; display: flex; flex-direction: column; justify-content: center; height: 150px; padding: 10px; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); border-radius: 8px;">
    <p><strong>RUT:</strong> {{ cliente.rut }}</p>
    <p><strong>Nombre:</strong> {{ cliente.nombre }}</p>
    <p><strong>Dirección:</strong> {{ cliente.direccion }}</p>
  </div>

  <!-- Formulario -->
  <form [formGroup]="facturaForm" (ngSubmit)="guardarFactura()" style="flex: 1; display: flex; flex-direction: column; gap: 10px; padding: 10px; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); border-radius: 8px;">
    <div>
      <label for="fecha">Fecha:</label>
      <input id="fecha" formControlName="fecha" type="date" required />
    </div>

    <div>
      <label for="folio">Nº de Folio:</label>
      <input id="folio" formControlName="folio" type="text" [value]="folio" readonly />
    </div>

    <div>
      <label for="giro">Giro:</label>
      <input id="giro" formControlName="giro" type="text" required />
    </div>
  </form>
</div>
      <input
      type="text" 
      [(ngModel)]="terminoBusqueda" 
      (input)="Buscar()" 
      placeholder="Buscar productos 🔎" 
      class="form-control buscar-cliente" />
      

       <app-lisproductos [productos]="productosFiltrados.slice(0, 2)"></app-lisproductos>
      
      
    
  
 
  

<!-- factura.component.html -->
<div>
    <!-- Código para seleccionar productos, etc. -->
    <app-detallefactura *ngIf="showDetalleFactura"></app-detallefactura>
  </div>
 

<div>
    <button type="submit" [disabled]="!facturaForm.valid">Guardar Factura</button>
  </div>



