<div *ngIf="productos.length > 0; else noProductos">
  <!-- Contenedor con scroll -->
  <div class="table-container">
    <table class="table table-bordered table-hover text-center">
      <thead class="table-dark">
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody class="table-light">
        <tr *ngFor="let producto of productos">
          <td>{{ producto.codigo }}</td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.precio | currency }}</td>
          <td>
            <!-- Botón para seleccionar producto -->
            <button 
              (click)="seleccionarProducto(producto)" 
              class="btn btn-success btn-sm"
            >
              Seleccionar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noProductos>
  <p class="text-center text-muted">No existen productos en stock.</p>
</ng-template>
