

<div *ngIf="producto">
  <p><strong>Código:</strong> {{ producto.codigo }}</p>
  <p><strong>Nombre:</strong> {{ producto.nombre }}</p>
  <p><strong>Precio:</strong> ${{ producto.precio }}</p>
</div>

<h3>Detalle de factura</h3>
<div class="table-container">
  <table class="table table-bordered table-hover text-center">
    <thead class="table-dark">
      <tr>
        <th>Código</th>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Precio Neto</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody class="table-light">
      <tr *ngFor="let producto of productosSeleccionados">
        <td>{{ producto.codigo }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.precio | currency }}</td>
        <td>
          <input 
            type="number" 
            [(ngModel)]="producto.cantidad" 
            (ngModelChange)="actualizarCantidad(producto, producto.cantidad)" 
            min="1" 
            class="form-control form-control-sm"
          />
        </td>
        <td>{{ producto.precioNeto | currency }}</td>
        <td>
          <button 
            (click)="eliminarProductoSeleccionado(producto.codigo)" 
            class="btn btn-danger btn-sm"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
    <div>
        <label>Subtotal:</label>
        <input id="subtotal" type="number" [value]="subtotal" disabled />
      </div>
      
      <div>
        <label>IVA (19%):</label>
        <input id="ivaCalculado" type="number" [value]="ivaCalculado" disabled /> <!-- Mostrar el IVA calculado -->
      </div>
      
      <div>
        <label>Total:</label>
        <input id="total" type="number" [value]="total" disabled />
      </div>
</div>
