.table-container {
    max-height: 1500px; /* Ajusta la altura máxima según lo necesario */
    overflow-y: auto; /* Scroll vertical */
    overflow-x: auto; /* Scroll horizontal, por si las columnas son anchas */
    border: 1px solid #ddd; /* Opcional: un borde para destacar el contenedor */
  }