.cliente-controles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
  
    .form-control {
      width: 60%; /* Ajusta el tamaño del campo de búsqueda */
      max-width: 400px; /* Limita el ancho máximo */
      margin-right: auto; /* Alinea el campo de búsqueda a la izquierda */
    }
  
    .btn-primary {
      margin-left: auto; /* Alinea el botón a la derecha */
    }
  
    button {
      padding: 8px 16px;
      font-size: 14px;
      border-radius: 4px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
  
      &:hover {
        background-color: #004085;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
      }
    }
  }
  
  .custom-modal {
    position: fixed; /* Fija el modal sobre el contenido */
    top:80px;
    left: 600px;
    width: 44%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050; /* Asegura que el modal esté sobre otros elementos, ajustado */
  }
  
 
  
  .modal-content {
    background-color: white; /* Fondo del contenido del modal */
    border-radius: 8px;
    top: 1px;
    padding: 2px;
   
    width: 40%; /* Responsive */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1051; /* Asegura que esté sobre el fondo */
  }
  
  .modal-header, .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-header h5 {
    margin: 0;
  }
  
  .modal-footer {
    justify-content: flex-end;
  }
  
  .btn-close {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }
  