/* app.component.scss */


/* Aplica la fuente al body */
.main-content {
  text-align: center; /* Centra el texto */
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background-color: light; /* Color de fondo */
  color: black; /* Color del texto */
}