<div id="con">
  <!-- Cabecera del componente -->
  <app-cabecera></app-cabecera>
  
    
  
  <!-- Controles de Cliente -->
  <div class="cliente-controles">
  
    <div>
      <input 
        type="text" 
        [(ngModel)]="terminoBusqueda" 
        (input)="onBuscar()" 
        placeholder="Buscar cliente 🔎" 
        class="form-control buscar-cliente" />
        
    </div>
    <button class="btn btn-success" (click)="abrirModal()">Ingresar Cliente</button>
  </div>

  <!-- Lista de Clientes -->
  
  <!-- Modal Personalizado -->
  <div class="custom-modal" *ngIf="mostrarModal">
    <div class="modal-backdrop" (click)="cerrarModal()"></div>
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="cerrarModal()" class="btn-close">&times;</button>
      </div>
      <div class="modal-body">
        <!-- Componente Ingresar Cliente -->
        <app-ingresarcliente></app-ingresarcliente>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
      </div>
    </div>
  </div>
  <app-lis-clientes [clientes]="clientesFiltrados"></app-lis-clientes>
  
</div>
