#Listcliente{
    background-color: rgb(176, 123, 123);
    width: 550px;
    position: relative;
   
}
#encabezado{
    width: 150px;
    text-align: center;
}
#encabezado1{
    width: 80px;
    text-align: center;
}

